<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>All users</title>
</head>
<body>
<style>
    table {
        border: 1px solid #69c;
    }
    th {
        font-weight: normal;
        color: #039;
        padding: 10px;
    }
    td {
        color: #669;
        border-top: 1px dashed white;
        padding: 10px;
        background:#ccddff;
    }
    tr:hover td {
        background: #99bcff;
    }</style>
<h2 align="center"> Admin panel</h2>
<table align="center" class="table_blur" >
    <thead>
    <tr>
        <th>ID</th>
        <th>User name</th>
        <th>Surname</th>
        <th>age</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUser}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td>
        <span th:each="role : ${user.getRoles()}">
            <span th:text="${role.getName()}"></span>
        </span>
        </td>
        <td><a th:href="@{admin/user-update/{id}(id=${user.id})}">
            <input type="submit" value="Update"/></a>

            <form th:method="DELETE" th:action="@{admin/user-delete/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>

</table>
</div>
<a th:href="@{admin/user-save}">
    <input type="submit" value="Create user"/>
</a>
<br>
<a th:href="@{/login}">
    <input type="submit" value="Exit"/>
</a>
</div>
</body>
</html>