<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Save user</title>
</head>
<body>
<style>
  table {
    border: 1px solid #69c;
  }
  th {
    font-weight: normal;
    color: #039;
    padding: 10px;
  }
  td {
    color: #669;
    border-top: 1px dashed white;
    padding: 10px;
    background:#ccddff;
  }
  tr:hover td {
    background: #99bcff;
  }</style>
<form th:method="POST" th:action="@{/admin/user-save}" th:object="${user}">
  <label for="email">User name: </label>
  <input type="text" th:field="*{username}" id="email">
  <br>
  <label for="email">surname: </label>
  <input type="text" th:field="*{surname}" id="surname">
  <br>
  <label for="email">age: </label>
  <input type="text" th:field="*{age}" id="age">
  <br>
  <label for="password">Password: </label>
  <input type="text" th:field="*{password}" id="password">
  <br>
  <select name="nameRoles" multiple size="2">
    <option th:each="role : ${roles}"
            th:value="${role.name}"
            th:text="${role.getName()}">
    </option>
  </select>
  <br>
  <input type="submit" value="Create user">

</form>


</body>
</html>